extends layout

block content

  #left-column.column
    h2 Elige tu sala
    ul#channels
      each channel in channels
        li(class='channel-name')
            a.btn(href='#') #{channel}
  #right-column.column
    h2 Messages
    ul#messages
    label(for="new-message") Escribe mensaje:
    textarea#new-message
    input.btn(id='add-new-message', type='submit', value='Enviar')
